:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}

body {
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
}

.msger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  height: 95vh;
  margin: auto;
  border: var(--border);
  border-radius: 6px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0,0,0,0.2);
}

.msger-header {
  padding: 12px;
  text-align: center;
  border-bottom: var(--border);
  background: #eee;
  color: #555;
  font-weight: bold;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #fcfcfe;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.msg-bubble {
  max-width: 70%;
  padding: 12px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}

.msg-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 5px;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: white;
}

.right-msg .msg-img {
  margin-left: 10px;
  margin-right: 0;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}

.msger-input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background: #ddd;
}

.msger-send-btn {
  margin-left: 10px;
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  background: #00c441;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.msger-send-btn:hover {
  background: #00b432;
}